/*
 * I have selected a pallet for the website, 
 * These colours may need tweeking
 */
:root {
  --redwood: #975a47;
  --ecru: #cfaa6e;
  --wenge: #716364;
  --charcoal: #3d4554;
  --cadet-gray: #9fa7ad;
}

body {
  margin: 0;
  background-color: var(--charcoal);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

article {
  margin: auto;
  width: 90%;
  max-width: 600px;
}

.topbar {
  margin: 1em;
}

.nav-bar {
  background-color: var(--redwood);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: auto;
  border-radius: 1rem 1rem 0 0;
}

header a {
  color: var(--ecru);
  text-decoration: none;
}

header h1 {
  padding: 0.5em;
  padding-bottom: 0.4em;
  padding-top: 0.6em;
  border-radius: 2em;
}

header h1:hover {
  background-color: var(--wenge);
}

.nav-elements {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.nav-elements p {
  border: 0.1em solid white;
  border-radius: 2em;
  padding: 0.5em;
  padding-bottom: 0.4em;
  padding-top: 0.6em;
  margin-inline: 0.2em;
}

.nav-bar p:hover,
.nav-bar p:active {
  background-color: var(--wenge);
}

/* TODO: This rule seems wrong */
.nav-bar a:link, 
.nav-bar a:visited,
.nav-bar a:focus,
.nav-bar a:hover,
.nav-bar a:active {
  text-decoration: none;
  color: white;
  background: #00000000;
}

.layer-transition {
  max-width: none;
  width: 100%;
  height: auto;
  border-radius: 0;
}

h2 {
  color: white;
  background-color: var(--wenge);
  padding: 0.5em;
  padding-bottom: 0.4em;
  padding-top: 0.6em;
  border-radius: 0.5em;
}

img {
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

/* p5 scketches */
.p5-canvas {
  max-width: 600px;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* Links */
a:link {
  color: var(--ecru);
}

a:visited {
  color: var(--cadet-gray);
}

a:focus, a:hover, a:active {
  text-decoration: dashed;
  background: var(--redwood);
}

/* Text for pattern */
#pattern-input {
  /* display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content:first baseline; */
  max-width: 600px;
  width: auto;
  margin: 1ex 0ex 1ex 0ex;
  border-radius: 2rem;
  border: white solid 0.1em;

  padding-inline: 0.5em;
  padding-bottom: 0.4em;
  padding-top: 0.6em;

  width: max-content;
  height: 100%;
  background: var(--wenge);
  color: white;
  overflow-wrap: break-word;
  font-family: inherit;
}

footer {
  margin: 1em;
}
