/*
 * I have selected a pallet for the website, 
 * These colours may need tweaking
 */
:root {
  --saffron: #f7c548;
  --redwood: #975a47;
  --ecru: #cfaa6e;
  --wenge: #716364;
  --charcoal: #3d4554;
  --cadet-gray: #9fa7ad;

  --xanthous: #ffb53dff;
  --rich-black: #001413ff;
  --blood-red: #700200ff;
  --baby-powder: #fdfffcff;
  --chinese-violet: #77567aff;

  --saffron: #e3b505ff;
  --penn-red: #95190cff;
  --mint-cream: #f4fffdff;
  --cerulean: #247ba0ff;
  --oxford-blue: #011936ff;

  /* CSS HEX */
  --charcoal: #2f4858ff;
  --lapis-lazuli: #33658aff;
  --carolina-blue: #86bbd8ff;
  --hunyadi-yellow: #f6ae2dff;
  --orange-pantone: #f26419ff;

  --primary-accent: var(--xanthous);
  --secondary-accent: var(--blood-red);
  --tertiary-accent: var(--cerulean);
  --primary-background: var(--rich-black);
  --secondary-background: var(--baby-powder);
}

body {
  margin: 0;
  background-color: var(--primary-background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

article {
  margin: auto;
  width: 90%;
  max-width: 600px;
}

.nav-bar {
  background-color: var(--primary-accent);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: auto;
  /* border-radius: 1rem 1rem 0 0; */
}

.nav-bar-attach-top {
  position: sticky;
  top: 0;
  width: 100%;
}

/* Use this for mobile */
.nav-bar-attach-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Header text positioning */
header a,
header h1 {
  color: var(--ecru);
  text-decoration: none;
  padding: 0.5em;
  /* padding-bottom: 0.5em;
  padding-top: 0.5em; */
  border-radius: 2em;
}

header h1:hover {
  background-color: var(--wenge);
}

.nav-elements {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.nav-elements p {
  border: 0.1em solid white;
  border-radius: 2em;
  padding: 0.5em;
  padding-bottom: 0.4em;
  padding-top: 0.6em;
  margin-inline: 0.2em;
}

.nav-bar p:hover,
.nav-bar p:active {
  background-color: var(--wenge);
}

/* TODO: This rule seems wrong */
.nav-bar a:link,
.nav-bar a:visited,
.nav-bar a:focus,
.nav-bar a:hover,
.nav-bar a:active {
  text-decoration: none;
  color: white;
  background: #00000000;
}

.layer-transition {
  max-width: none;
  width: 100%;
  height: auto;
  border-radius: 0;
}

h2 {
  color: white;
  background-color: var(--wenge);
  padding: 0.5em;
  padding-bottom: 0.4em;
  padding-top: 0.6em;
  border-radius: 0.5em;
}

img {
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

/* p5 scketches */
.p5-canvas {
  max-width: 600px;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* Links */
a:link {
  color: var(--ecru);
}

a:visited {
  color: var(--cadet-gray);
}

a:focus,
a:hover,
a:active {
  text-decoration: dashed;
  background: var(--redwood);
}

/* Text for pattern */
#pattern-input {
  appearance: none;

  box-sizing: border-box;

  max-width: 600px;
  margin: 1ex 0ex 1ex 0ex;
  border-radius: 2rem;
  border: white solid 0.2em;

  padding-inline: 0.5em;
  padding-bottom: 0.4em;
  padding-top: 0.6em;

  width: 100%;
  background: none;
  color: white;
  overflow-wrap: break-word;
  font-family: inherit;
}

#pattern-input:focus,
#pattern-input:hover {
  outline: none;
  border: var(--redwood) solid 0.2em;
}

footer {
  margin: 1em;
}
