/*
 * I have selected a pallet for the website, 
 * These colours may need tweaking
 */
:root {
  /* Yellows */
  --hunyadi-yellow: #f6ae2dff;
  --xanthous: #ffb53dff;
  --ecru: #cfaa6e;
  --chamoisee: #9d7959ff;
  --wenge: #716364;

  /* Reds */
  --black-bean: #32140b;
  --blood-red: #700200ff;
  --penn-red: #95190cff;
  --orange-pantone: #f26419ff;
  --redwood: #975a47;

  /* Blues */
  --rich-black: #001413ff;
  --lapis-lazuli: #33658aff;
  --carolina-blue: #86bbd8ff;
  --cadet-gray: #9fa7ad;
  --indigo-dye: #2b3f58ff;
  --violet-blue: #1a47b7;

  /* Current Palette */
  --bole: #874e40ff;
  --yinmn-blue: #2f5884ff;
  --saffron: #f7c548;
  --cerulean: #247ba0ff;
  --oxford-blue: #011936ff;
  --charcoal: #3d4554;
  --cosmic-latte: #f9f2e1;
  --smoky-black: #110704;

  --primary-colour: var(--bole);
  --secondary-colour: var(--yinmn-blue);
  --primary-accent: var(--saffron);
  --secondary-accent: var(--cerulean);
  --primary-background: var(--oxford-blue);
  --secondary-background: var(--charcoal);
  --text-colour: var(--cosmic-latte);
  --secondary-text-colour: var(--smoky-black);
}

body {
  margin: 0;
  background-color: var(--primary-background);
  color: var(--text-colour);
  font-family: Arial, Helvetica, sans-serif;
}

article {
  margin: auto;
  width: 90%;
  max-width: 600px;
}

header {
  background-color: var(--primary-colour);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  /* border-radius: 1rem 1rem 0 0; */
}

/* Header text positioning */
header #logo {
  color: var(--primary-accent);
  text-decoration: none;
  padding: 0.5em;
  border-radius: 2em;
  margin: 0.1em;
  font-family: monospace;
  font-size: xx-large;
}

header #logo:focus,
header #logo:hover {
  color: var(--primary-colour);
  background-color: var(--primary-accent);
}

/* Navigation menu */
nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

nav p {
  border: 0.1em solid var(--text-colour);
  border-radius: 2em;
  padding: 0.5em;
  padding-bottom: 0.4em;
  padding-top: 0.6em;
  margin-inline: 0.2em;
}

.nav-bar p:hover,
.nav-bar p:active {
  background-color: var(--secondary-colour);
}

/* TODO: This rule seems wrong */
.nav-bar a:link,
.nav-bar a:visited,
.nav-bar a:focus,
.nav-bar a:hover,
.nav-bar a:active {
  text-decoration: none;
  color: var(--text-colour);
  background: none;
}

/* Small screen Nav layout */
@media screen and (max-width: 599px) {
  #header-nav {
    visibility: hidden;
    display: none;
  }

  .nav-bar-attach-bottom {
    position: fixed;
    bottom: 0;
  }

  .nav-bar-attach-bottom #expansion-menu {
    order: -1;
  }

  /* Remove default checkbox appearance */
  #navigation-menu-input {
    display: none;
  }

  #navigation-menu-input + label {
    display: block;
    position: relative;
    width: 2em;
    height: 2em;
    border: var(--primary-accent) dashed 0.15em;
    background: url(/images/hamburger-menu-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  #navigation-menu-input:checked + label {
    border-color: var(--secondary-accent);
  }

  #expansion-menu {
    visibility: hidden;
    display: flex;
    background: var(--secondary-accent);
    max-height: 0px;
    width: 100%;
    overflow: hidden;
    transition: 0.5s ease;
  }

  footer {
    padding-bottom: 3em;
  }
}

/* Large screen nav layout */
@media screen and (min-width: 600px) {
  header {
    position: sticky;
    top: 0;
  }

  #navigation-menu-button {
    visibility: hidden;
    display: none;
  }

  #expansion-menu {
    visibility: hidden;
    display: none;
  }
}

.layer-transition {
  max-width: none;
  width: 100%;
  height: auto;
  border-radius: 0;
}

img {
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

/* Links */
a:link {
  color: var(--primary-accent);
}

a:visited {
  color: var(--secondary-accent);
}

a:focus,
a:hover,
a:active {
  text-decoration: dashed;
  background: none;
}

footer {
  margin: 1em;
}
