#hero-page .call-to-action {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: 900;
}

#title-scroll-wrapper {
  font-family: monospace;
  margin: 0;
  font-size: 110%;
}

#hero-page h1 span.parentheses {
  color: var(--primary-accent);
}

.left {
  margin-right: -0.5em;
}

.right {
  margin-left: -0.5em;
}

.text-scroll-container {
  /* border: 5px dashed var(--primary-accent); */
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden;
  white-space: nowrap;
  width: 0em;
  animation: container-width 10s linear 0.5s infinite;
}

/* Job word transform animation */
#heading-scroll {
  /* background: black; */
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  overflow: hidden;
  padding-left: 0.1em;
  animation: text-position 10s linear 0.5s infinite;
}

.job-type {
  text-transform: lowercase;
}

/* TODO: Fix contrast of colours */
#developer-title {
  background: linear-gradient(
    90deg,
    var(--primary-colour),
    var(--primary-accent)
  );
  background-clip: text;
  color: transparent;
}

#engineer-title {
  background: linear-gradient(
    90deg,
    var(--carolina-blue),
    var(--secondary-accent)
  );
  background-clip: text;
  color: transparent;
}

#hire-title {
  background: linear-gradient(90deg, var(--saffron), var(--xanthous));
  background-clip: text;
  color: transparent;
}

#hero-page section {
  border-radius: 1rem;
  padding: 1rem;
}

.page {
  box-sizing: border-box;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.page h2 {
  background: linear-gradient(90deg, var(--saffron), var(--xanthous));
  background-clip: text;
  color: transparent;
}

#skill-page {
  background-color: var(--secondary-background);
}

/* Animations */
@keyframes container-width {
  0% {
    width: 0em;
  }
  15% {
    width: 6em;
  }
  25% {
    width: 6em;
  }
  30% {
    width: 0em;
  }
  33% {
    width: 0em;
  }

  48% {
    width: 5.5em;
  }
  58% {
    width: 5.5em;
  }
  63% {
    width: 0em;
  }
  66% {
    width: 0em;
  }

  81% {
    width: 3.2em;
  }
  91% {
    width: 3.2em;
  }
  96% {
    width: 0em;
  }
  100% {
    width: 0em;
  }
}

@keyframes text-position {
  0% {
    transform: translate(0rem);
  }
  30% {
    transform: translate(0rem);
  }
  33% {
    transform: translate(-6.6em);
  }

  63% {
    transform: translate(-6.6em);
  }
  66% {
    transform: translate(-12.6em);
  }

  96% {
    transform: translate(-12.6em);
  }
  100% {
    transform: translate(0rem);
  }
}

/* TODO: Small screen layout */
@media screen and (max-width: 599px) {
  .page {
    padding-left: 5%;
    padding-right: 5%;
  }

  #hero-page h1 {
    font-size: 250%;
    font-weight: 900;
  }

  #hero-page > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  section {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
/* Medium screen adjustments */
@media screen and (min-width: 600px) {
  .page {
    margin: auto;
  }

  /* Hero Page */
  #hero-page {
    overflow: hidden;
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
  }

  #hero-page .main-pitch {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #hero-page picture {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
  }

  #hero-page img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
    border-radius: 1rem;
    background-color: black;
  }

  #hero-page .points {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #hero-page > div {
    margin: 1em;
  }

  #hero-page section {
    width: 100%;
  }

  /* Skill Page */
  #skill-page .content-wrapper {
    display: grid;
    grid-template-columns: auto 10% auto;
    grid-template-rows: auto auto;
    gap: 0.5rem;

    grid-template-areas:
      "languages languages education"
      "skills projects projects";
  }

  #skill-page #section-languages {
    grid-area: languages;
  }

  #skill-page #section-education {
    grid-area: education;
  }

  #skill-page #section-skills {
    grid-area: skills;
  }

  #skill-page #section-projects {
    grid-area: projects;
  }

  /* Language grid */
  .language-table {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0.4rem;
    margin: 0.5rem;

    grid-template-areas:
      "language-name experience"
      "usage usage";
  }

  .language-table .language-name {
    grid-area: language-name;
  }

  .language-table .language-experience {
    grid-area: experience;
    text-align: right;
  }

  .language-table .language-usage {
    grid-area: usage;
  }

  .language-table > * {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1199px) and (min-width: 600px) {
  .page {
    padding-left: 5%;
    padding-right: 5%;
  }

  #hero-page h1 {
    font-size: 250%;
    font-weight: 900;
  }

  #hero-page > div {
    flex: 40%;
  }

  #hero-page .points {
    width: 100%;
  }

  #hero-page .points {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .page {
    padding-left: 10%;
    padding-right: 10%;
  }

  #hero-page h1 {
    font-size: 300%;
    font-weight: 900;
  }

  #hero-page > div {
    flex: 30%;
  }

  #hero-page .points {
    flex-direction: column;
  }
}
