#hero-page h1 span:last-child {
  color: var(--primary-accent);
}

#hero-page section {
  border-radius: 1rem;
  padding: 1rem;
}

#hero-page .highlight {
  background-color: var(--secondary-colour);
}

@media screen and (max-width: 599px) {
}
/* Medium screen adjustments */
@media screen and (min-width: 600px) {
  #hero-page {
    width: 80%;
    overflow: hidden;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
  }

  #hero-page .main-pitch {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #hero-page picture {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
  }

  #hero-page img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
    border-radius: 1rem;
    background-color: black;
  }

  #hero-page .points {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #hero-page > div {
    margin: 1em;
  }
}

@media screen and (max-width: 999px) and (min-width: 600px) {
  #hero-page {
    width: 90%;
  }

  #hero-page > div {
    flex: 40%;
  }

  #hero-page .points {
    width: 100%;
  }

  #hero-page .points {
    flex-direction: row;
  }
}

@media screen and (min-width: 1000px) {
  #hero-page h1 {
    font-size: 300%;
    font-weight: 900;
  }

  #hero-page > div {
    flex: 30%;
  }

  #hero-page .points {
    flex-direction: column;
  }
}
